{# empty Twig template #}
<ul class="mws-summary clearfix">
    <li>
        <span class="key"><i class="icon-support"></i> Nom</span>
        <span class="val">
            <span class="text-nowrap">{{ cours.name }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Masse horaire</span>
        <span class="val">
            <span class="text-nowrap">{{ cours.numberOfHour }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Module</span>
        <span class="val">
            <span class="text-nowrap">{{ cours.module.name }}</span>
        </span>
    </li>
</ul>