<div class="wrapper" id="content-below">
  <div class="container">
    <div class="row-fluid">
      <div class="social-media pull-right"> 
       <!--@todo: replace with company social media details--> 
       <a href="#"><i class="icon-twitter"></i></a>
       <a href="https://www.facebook.com/itcertif.maroc" target="_blank"><i class="icon-facebook"></i></a>
       <a href="#"><i class="icon-linkedin"></i></a> 
       <a href="#"><i class="icon-google-plus"></i></a> 
     </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span3 col">
        {{ render(controller("itCertifConfigurationBundle:Configuration:contact_info")) }}
      </div>
      <div class="span5 col">
        <div class="block">
          <h3>A props de nous</h3>
          <p>Le Centre ITCERTIF est une nouvelle doonée dans le domaine du consulting. Notre Centre est doté d'une dizaine de consultants chauveronnés dans differents secteurs d'activités économiques. </p>
        </div>
      </div>
      <!--
      <div class="span4 col">
        <div class="block newsletter">
          <h3>Newsletter</h3>
          <p>Stay up to date with our latest news and product releases by signing up to our newsletter.</p>
          
          <form class="form-inline" />
            <div class="input-append">
              <input class="input-medium" type="text" placeholder="Email" />
              <button class="btn btn-primary" type="button">Go!</button>
            </div>
          </form>
        </div>
      </div>
     -->
    </div>
    <div class="row-fluid">
      <div id="toplink"><a href="#top" class="top-link" title="Back to top">Retour en haut <i class="icon-chevron-up"></i></a></div>
      <!--@todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="span6">
          <p>Copyright 2013 &copy; IT Certif</p>
        </div>
        <!--
        <div class="span6">
          <ul class="inline pull-right">
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        -->
      </div>
    </div>
  </div>
</footer>