<div class="header-inner container">
    <div class="row-fluid">
        <div class="span6" style="width: 600px;"> 
            <!--branding/logo-->
            <a href="{{ path('it_certif_home_homepage') }}"><img src="{{ asset('frontend/img/logo.png') }}"/></a>			
            <span class="slogan" style="font-style: italic;">    			
                The best friend for a successful business
            </span>
        </div>

        <!--header rightside-->
        <div class="last-box pull-right" style="padding-top: 10px;">
            <div class="header-cart">
                <a class="text-input input-round dark-color light-bg" href="./cart.html">
                    <strong class="active-color"><i class="icon-shopping-cart">&nbsp;</i>39</strong>
                    items&nbsp;|&nbsp;
                    <strong class="active-color">
                        954,00 €
                    </strong>
                </a>
                <ul class="popup-box header-quick-cart cream-bg">
                    <li class="arrow-top"><span class="shadow cream-bg"></span></li>
                    <li class="focusor-top"></li>
                    <li class="quick-cart-item light-bg-hover transition-all">
                        <a href="./cart.html" class="quick-cart-left dark-color">
                            <span class="quick-cart-image"><img src="./images/photos/quick-cart-item.jpg" alt="Pablo Coelho Men’s Suit Jacket" /></span>
                            <span class="quick-cart-name">Pablo Coelho Men’s Suit Jacket</span>
                        </a>
                        <a href="./cart.html" class="quick-cart-right dark-color">
                            3 x
                            <strong class="active-color">125,90 &euro;</strong>
                        </a>
                    </li>
                    <li class="list-divider"></li>
                    <li class="quick-cart-item light-bg-hover transition-all">
                        <a href="./cart.html" class="quick-cart-left dark-color">
                            <span class="quick-cart-image"><img src="./images/photos/quick-cart-item.jpg" alt="Pablo Coelho Men’s Suit Jacket" /></span>
                            <span class="quick-cart-name">Pablo Coelho Men’s Suit Jacket</span>
                        </a>
                        <a href="./cart.html" class="quick-cart-right dark-color">
                            3 x
                            <strong class="active-color">125,90 &euro;</strong>
                        </a>
                    </li>
                    <li class="list-divider"></li>
                    <li class="quick-cart-item light-bg-hover transition-all">
                        <a href="./cart.html" class="quick-cart-left dark-color">
                            <span class="quick-cart-image"><img src="./images/photos/quick-cart-item.jpg" alt="Pablo Coelho Men’s Suit Jacket" /></span>
                            <span class="quick-cart-name">Pablo Coelho Men’s Suit Jacket</span>
                        </a>
                        <a href="./cart.html" class="quick-cart-right dark-color">
                            3 x
                            <strong class="active-color">125,90 &euro;</strong>
                        </a>
                    </li>
                    <li class="list-divider"></li>
                    <li class="quick-cart-total">
                        <span class="quick-cart-left dark-color">Total</span>
                        <span class="quick-cart-right active-color">954,00 &euro;</span>
                    </li>
                    <li class="list-divider"></li>
                    <li class="quick-cart-buttons">
                        <a href="./cart.html" class="button-small light-color middle-gradient dark-gradient-hover">
                            Aller au panier
                        </a>
                        <a href="./checkout-step-1.html" class="button-small light-color active-gradient dark-gradient-hover">
                            Commander
                        </a>
                    </li>
                </ul>
            </div>
        </div> 
    </div>
</div>