<div class="peKenBurns peNoJs" data-autopause="image" data-thumb="enabled" data-mode="swipe" data-controls="inner" data-shadow="disabled">

    <div class="peKb_active" data-delay="5" data-thumb="img/thumbs/kb_00.jpg">
        <img src="{{ asset('frontend/img/slides/slide2.jpg') }}" alt="Banner Services" />
        <h1>LES DIFFERENTES SERVICES D'ITCERTIF</h1>

    </div>

    <div class="peKb_active" data-delay="5" data-thumb="img/thumbs/kb_00.jpg">
        <img src="{{ asset('frontend/img/slides/sec.jpg') }}" alt="Banner Services" />
        <h1>LES DIFFERENTES SERVICES D'ITCERTIF</h1>

    </div>

</div>
