<div class="block" style="vertical-align : 50px;">
    <br/>
    <h4 class="title-divider"><span>Inscription</span></h4>
    <ul class="big-list tags">
        <li>
            <a href="signup.php"><span style="font-size: 14px;">Formation universitaire</span></a>
        </li>
        <li>
            <a href="#"><span style="font-size: 14px;">Certification</span></a>
        </li>
    </ul>
    <br/>
    {{ render(controller("itCertifConfigurationBundle:Evenement:list")) }}
    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fitcertif&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;width: 250px;" allowTransparency="true"></iframe>
</div>