{# empty Twig template #}
<ul class="mws-summary clearfix">
    <li>
        <span class="key"><i class="icon-support"></i> Nom</span>
        <span class="val">
            <span class="text-nowrap">{{ module.name }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Masse horaire</span>
        <span class="val">
            <span class="text-nowrap">{{ module.numberOfHour }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Description</span>
        <span class="val">
            <span class="text-nowrap">{{ module.description }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Fili&egrave;re</span>
        <span class="val">
            <span class="text-nowrap">{{ module.filiere.name }}</span>
        </span>
    </li>
</ul>