{# empty Twig template #}
<ul class="mws-summary clearfix">
    <li>
        <span class="key"><i class="icon-support"></i> Nom</span>
        <span class="val">
            <span class="text-nowrap">{{ filiere.name }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Description</span>
        <span class="val">
            <span class="text-nowrap">{{ filiere.description }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Campus</span>
        <span class="val">
            <span class="text-nowrap">{{ filiere.campus.name }}</span>
        </span>
    </li>
</ul>